/*Базовые настройки*/
*{
	box-sizing: border-box;
}
body{
	font-family: 'Exo', sans-serif;
	font-weight: 300;
  position: relative;
}
a:focus,input:focus{
  outline: none;
}
button:focus{
  outline: none;
}
html{
  font-size: 10px;

}
/*Главный экран*/

.header{
min-height: 450px;
 height: 100vh;
}
.main-item_1{
	height: 100vh;
  background:url(../img/header.png) no-repeat bottom center;
  position: fixed;
  background-size: cover;
}
.main-item{
  padding-top: 20rem;
  text-align: center;
  position: relative;
}
.main-item_1 h2{
font-size: 6rem;
font-weight: 100;
position: relative;
}
.main-item_1 img{
	padding-top: 3rem;
}
.main-btn{
	display: block;
	margin: 0 auto;
	background-color: #ff6d6d;
	color: #fff;
	border:none;
	text-transform: uppercase;
	padding: 1.5rem 5rem;
	border-radius: 0.5rem;
	font-size: 1.6rem;
	font-weight: 400;
}
.main-item_1 p{
	padding-top: 1.5rem;
	color: #8c8c8f;
	font-size: 1.3rem;
		font-weight: 400;
}
/*ABOUT*/
.about{
	min-height: 450px;
 height: 70rem;
 background:url(../img/desc-bg.png)no-repeat center center;
 -webkit-background-size: cover;
 background-size: cover;
 z-index: 1;
}


.about-text{
	display: inline-block;
	padding: 15rem 15rem;
}
.about-text h4{
	font-size: 1.6rem;
	font-weight: 500;
	text-transform: uppercase;
	color: #ff6d6d;
}
.about-text h3{
	font-size: 4rem;
	padding-top: 1.5rem;
	font-weight: 500;
}
.about-point{
	color: #ff6d6d;
}
.about-text p{
	color: #8a8a8a;
	font-size: 1.6rem;
	padding-top: 2rem;
	line-height: 2.5rem;
	font-weight: 500;
}
/*NEW FEATURES*/
.awesone-features{
	min-height: 450px;
 height: 70rem;
 background:url(../img/feat-bg.png)no-repeat center center;
 -webkit-background-size: cover;
 background-size: cover;
 z-index: 5;
 position: relative;
}

.awesome-text h4{
font-size: 1.6rem;
font-weight: 500;
text-transform: uppercase;
text-align: center;
color:#fe7978;
padding-top: 14rem; 
}
.awesome-text h3{
	font-size: 4rem;
font-weight: 500;
text-transform: uppercase;
text-align: center;
padding-top: 3rem;
}
.box{
	display: inline-block;
	width: 33.33%;
	margin-right: -5px;
	vertical-align: top;
	text-align: center;
	margin-top: 80px;
}
.box p{
	font-size: 1.6em;
	font-weight: 500;
	color: #c7c6c4;
	line-height: 2.5rem;
}
.box h3{
	font-size: 2.1rem;
	font-weight: 500;
	line-height: 3rem;
}
.design{
	min-height: 450px;
	height: 60rem;
	position: relative;
}
.design img{
	position: relative;
	z-index: 5;
	margin: 8rem 8rem;
}
.triangle-bottomleft{
	position: absolute;
	bottom: 0;
	width: 0;
	height: 0;
	border-bottom: 60rem solid #fb8686; 
	border-right: 45rem solid transparent;	
	z-index: 4;
}
.design-text{
	position: absolute;
	display: block;
	left: 50%;
	top:13rem;
	width: 50rem;
	height: 40rem;

}
.design-text h4{
	font-size: 1.6rem;
	font-weight: 500;
	text-transform: uppercase;
	color: #ff6d6d;
}
.design-text h3{
	position: absolute;
font-size: 4rem;
font-weight: 500;
float: left;
text-transform: uppercase;
padding-top: 3rem;
}
.design-point{
	color: #ff6d6d;
}
.design-text p{
margin-top: 13rem;
font-size: 1.6em;
font-weight: 500;
color: #cecece;
line-height: 2.5rem;
}
/*Клиенты*/
.clients{
	min-height: 450px;
	height: 70rem;

}
.container-clients{
	height: 70rem;
background:url("../img/clients/Group 4.png") no-repeat center center;
-webkit-background-size: cover;
background-size: cover;
}
.box-clients{
	display: inline-block;
	width: 33.33%;
	margin-right: -5px;
	vertical-align: top;
	text-align: center;
	margin-top: 15rem;
}
.box-clients p{
	font-size: 1.6rem;
	font-weight: 400;
	font-style:italic;
	color: #c7c6c4;
	line-height: 2.5rem;
	margin-top: 5rem;
}
.box-clients h3{
	font-size: 2.1rem;
	font-weight: 500;
	line-height: 3rem;
	color: #fff;
}
.box-clients h4{
font-size: 1.6rem;
	font-weight: 500;
	color: #ff6d6d;
	margin-top: 1rem;
}
.logo-clients{
	margin-left: 20rem;
	margin-top: 5rem;
}
.logo-clients img{
	margin-right: 10rem;
	text-align: center;
}
/*БРАУЗЕР*/
.web-browser{
	min-height: 450px;
 height: 76rem;
 background-color: #f6f5f3;
 position: relative;
}
.browser-text{
}
.browser-text h4{
text-align: center;
padding-top: 10rem;
text-transform: uppercase;
font-size: 1.6rem;
font-weight: 500;
color: #ff6d6d;
}
.browser-text h3{
	text-align: center;
	font-size: 4rem;
	font-weight: 500;
	padding-top: 1rem;
	color: #40403f;
}
.browser-text p{
	text-align: center;
	font-size: 1.6rem;
	font-weight: 500;
	color: #858584;
	padding-top: 4rem;

}
.browser-text img{
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	padding-top: 8rem;

}
.designers{
	min-height: 450px;
 height: 47rem;
 background-color: #323969;
 position: relative;
}
.designers-text h4{
text-align: center;
padding-top: 10rem;
text-transform: uppercase;
font-size: 1.6rem;
font-weight: 500;
color: #ff6d6d;
}
.designers-text h3{
	text-align: center;
	font-size: 4rem;
	font-weight: 500;
	color: #fff;
	padding-top: 1rem;
}
.designers-text p{
	position: absolute;
	left: 101rem;
	padding-top: 4rem;
	font-size: 1.6rem;
	font-weight: 400;
	color: #e3e2e4;
}
.designers-text img{
	position: absolute;
	left: 98rem;
	    padding-top: 5rem
}
.designers-input{
	text-align: center;
	padding-top: 10rem;
}
.designers-input input{
	height: 3rem;
	width: 25rem;
	margin-right: 2.5rem;
	padding: 2rem 1.5rem;
	border-radius: 3px;
	border: 1px solid #999cb4;
	background-color: #464c77;
	color: #fff;
}
input::-webkit-input-placeholder { 
	color: #fff; 
}
input:-ms-input-input-placeholder { 
	color: #fff; 
}
input::-moz-input-placeholder { 
	color: #fff; 
}
input:::-moz-input-placeholder { 
	color: #fff; 
}
.designers-btn{
	display: inline-block;
}
.designers-btn button{
	height: 4rem;
	width: 25rem;
	text-transform: uppercase;
	background-color: #ff6d6d;
	color: #fff;
	border-radius: 3px;
	border:none;
	box-shadow: 0px 3px 3px 0px rgba(14, 15, 15, 0.25);
}

.text-bottom p{
	text-align: center;
	padding-top: 5rem;
	font-size: 1.6rem;
	font-weight: 400;
	color: #a3a4b3;
}
.designers a{
	color: #a3a4b3;
}
.footer{
 height:30rem;	
 font-weight: 400;
 background: url(../img/footers/bg-footer.png)no-repeat center center;
 -webkit-background-size: cover;
 background-size: cover;
 padding-bottom: 3rem;
 
}
.container{
	margin: 0 auto;
}
.footer-item:first-child{
	padding-top: 7rem;
	padding-left: 13rem;
}
.footer-item{
	padding-top: 8rem;
	display: inline-block;
	vertical-align: top;
}
.footer-item p{
	color: #adadad;
	font-size: 1.4rem;
	line-height: 2;
}
.footer-item:nth-child(2){
	padding-left: 10rem;
}
.footer-item:nth-child(3){
	padding-left: 10rem;
}
.footer-item:nth-child(4){
	padding-left: 10rem;
}
.footer-item img:nth-child(2){
	box-shadow: 0px 3px 3px 0px rgba(14, 15, 15, 0.25);
}
.footer-title{
	font-weight: 500;
	font-size: 2.2rem;
	color: #282828;
	padding-bottom: 2rem;
}
.footer a{
	text-decoration: none;
		color: #adadad;
}
.footer li{
	font-size: 1.4rem;
	line-height: 2;
	font-weight: 400;
}
.footer form{
	position: relative;
}

.footer input{
	width: 27rem;
	height: 5rem;
	font-weight: 400;
	font-size: 1.6rem;
	padding-left: 2rem;
	background-color: #f6f6f6;
	border: 1px solid #b8b8bf;
	text-transform: uppercase;
margin-bottom: 1.5rem;
}

.subscribe{
	position: absolute;
	right: 0;
	top: 0px;
}

input::-webkit-input-placeholder { 
	color: #b1b1b1; 
}
.social a{
	display: inline-block;
	height: 40px;
	width: 20%;
}
.social a:first-child{
	margin-left: 10%;
}
.social a:nth-child(1){
	background:url(../img/footers/logo/dribble.png)no-repeat center center;
}
.social a:nth-child(2){
	background:url(../img/footers/logo/facebook.png)no-repeat center center;
}
.social a:nth-child(3){
	background:url(../img/footers/logo/google.png)no-repeat center center;
}
.social a:nth-child(4){
	background:url(../img/footers/logo/twitter.png)no-repeat center center;
}
.social a:nth-child(1):hover{
	background:url(../img/footers/logo/hover-dribbble.png)no-repeat center center;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
}
.social a:nth-child(2):hover{
	background:url(../img/footers/logo/hover-facebook.png)no-repeat center center;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
}
.social a:nth-child(3):hover{
	background:url(../img/footers/logo/hover-googleplus.png)no-repeat center center;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
}
.social a:nth-child(4):hover{
	background:url(../img/footers/logo/hover-twitter.png)no-repeat center center;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
}

@media  (min-width: 320px) and (max-width: 480px)  {
/*HEADER*/
.main-item_1 h2{
	font-size: 3rem;
}
.main-item_1{
	padding-top: 8rem;
}
.main-item_1 button{
	margin-top: 2rem;
	padding: 10px 10px;
	font-size: 1.3rem;
}

	/*ABOUT*/
	.about-text p{
font-size: 1rem;
	}
	.about-text h3{
		font-size: 2rem;
	}
	.about-right{
		display: none;
	}
	.about-text h4{
		font-size: 1.5rem;
	}
	.about{
		height: 60rem;
	}
	.about-text{
		padding: 5rem 5rem;
	}
	/*AWESOME*/
	.awesome-text h4{
font-size: 1.5rem;
	}
	.awesone-features{
		height: 110rem;
	}
	.awesome-text h3{
		font-size: 2rem;
	}
	.box{
		display: block;
		width: 100%;
	}
	.box p{
		font-size: 1.3em;
	}
	.box h3{
		font-size: 1.5rem;
	}
	.triangle-bottomleft{
		display: none;
	}
	.design{
		height: 70rem;
	}
	.design img{
		width: 25rem;
		display: block;
		margin: 0 auto;
		margin-top: 5rem;
	}
	.design-text p{
		margin-top: 11rem;
		font-size: 1.3rem;
	}
	.design-text{
    
    left: 50%;
    transform: translateX(-50%);
    top: 30rem; 
    width: 30rem;
    
	}
	.design-text h4{
		font-size: 1.5rem;
	}
	.design-text h3{
		font-size: 2rem;
	}
	/*Клиенты*/
	.clients{
		height: 130rem;
	}
	.container-clients{
		height: 130rem;
	}
	.box-clients{
		display: block;
		width: 100%;
		padding-top: 5rem;
		margin-top: 3rem;
	}
	.box-clients h3{
		font-size: 1.5rem;
	}
	.box-clients h4{
		font-size: 1.3rem;
	}
	.box-clients p{
		font-size: 1.3rem;
	}
	.box-clients img{
		width: 6rem;
	}
	.logo-clients{
		margin-left: 0rem;
		margin-top: 10rem;
	}
	.logo-clients img{
		width: 5.5rem;
		margin-right: 1.3rem;
	}
	/*WEB-BROWSER*/
.web-browser{
	height: 55rem;
}

	.browser-text h4{
		font-size: 1.3rem;
}
	
	.browser-text h3{
		font-size: 2.5rem;
	}
	.browser-text p{
		font-size: 1.3rem;
	}
	.browser-text img{
		width: 30rem;
	}
	/*DESIGNERS*/
	.designers{
		height: 60rem;
	}
	.designers-text p{

	}
	.designers-text h4{
		font-size: 1.3rem;
		padding-top: 8rem;
	}
	.designers-text h3{
		font-size: 2.5rem;
	}
	.designers-input{
		width: 80%
		padding-top: 3.5rem;
		margin: 0 auto;
	}
	.designers-input input{
		margin:0;
		margin-top: 2rem;
	}
	.designers-btn{
		display: block;
		margin-top: 2rem;
		margin-bottom: 2rem;
	}
	.text-bottom p{
		font-size: 1.3rem;
	}
	.footer-item p{
		font-size: 1.8rem;
	}
	.footer-title{
		font-size: 3rem;
	}
	.footer li{
		font-size: 2rem;
	}
	.footer-item:nth-child(4) {
    padding-left: 3rem;
}
.footer-item:first-child {
	padding-left: 8rem;
}

}
@media  (min-width: 481px) and (max-width: 577px){
	.design img{
		width: 25rem;
		display: block;
		margin: 0 auto;
	}
	.browser-text img{
		width: 30rem;
	}
}
