* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.map {
  position: relative;
}
.contacts {
  position: absolute;
  top: 0;
  left: 400px;
  display: inline-block;
  text-align: center;
  padding: 14px 50px;
  background-color: red;
}
.contacts h3 {
  font-size: 30px;
  color: #fff;
  margin-bottom: 40px;
}
.contacts p {
  font-size: 18px;
  color: #fff;
  margin-bottom: 40px;
}
.contacts p p::last-child {
  margin-bottom: 0px;
}
.contacts a {
  color: #fff;
  text-decoration: underline;
}
.footer {
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
}
.media-body h4 {
  font-size: 16px;
  line-height: 1.4;
}
.text {
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
}
.contact {
  margin-top: -20px;
}
