.header {
  padding: 15px;
  background-color: #f7b740;
}
.menu {
  display: inline-block;
}
.menu ul {
  background-color: #000;
  min-height: 80px;
  padding-top: 25px;
}
.menu li {
  display: inline-block;
  text-align: center;
  padding-right: 28px;
}
.menu a {
  color: #f7b740;
}
.title-header {
  padding: 10px;
  background-color: #fbd59c;
  margin-top: 2px;
}
.title-header h1 {
  font-size: 30px;
}
.body {
  margin-top: 70px;
  background-color: #ffffff;
}
.text {
  display: inline-block;
  vertical-align: middle;
  width: 140px;
  height: 70px;
  background-color: #ccc;
}
.box {
  margin-top: 60px;
}
.box p {
  margin: 25px;
}
.box a {
  color: #000;
  text-decoration: underline;
}
